# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


z_notes
test
broadcast
TODO
fresh.sh
fresh_claim.sh
grant_dc.sh
Makefile
slither.config.json
