name: Check linter, formatting, build, tests and analysis

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

env:
  FOUNDRY_PROFILE: ci

jobs:
  lint:
    name: Solhint linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Node
        uses: actions/setup-node@v5

      - name: Install solhint
        run: npm install -g solhint@^5.0.5

      - name: Run solhint
        run: solhint 'src/**/*.sol' 'test/**/*.sol' 'script/**/*.sol'

  format_build_analysis:
    name: Format, Build, Test and Analysis
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install lcov
        run: sudo apt-get -y install lcov

      - name: Run Forge fmt check
        run: |
          forge fmt --check

      - name: Run Forge build
        run: |
          forge build --sizes

      - name: Run Forge tests
        run: |
          forge test -vvv

      - name: Check test coverage
        run: ./ci/check-full-coverage.sh

      - name: Install Slither
        run: |
          pip install slither-analyzer

      - name: Run Slither
        run: |
          slither .
        continue-on-error: true
